
body{
padding: 0px; 
background:url(/static/boat2.png)top left; 
margin: 0px; 
left: 0px;
background-size: 110%;
background-position-y: -300px ;


}

.Login_title{

    text-align: center;

    font-family: 'Rakkas';
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 107px;
    color: #FCF7DD;
    margin-top: 0px;
}

.Login{    

    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.12em;
    margin-top: 100px;
    padding-left: 60px;
    padding-right: 60px;
    color: #4E4C43;
    background: linear-gradient(45deg, #CDC4A3 , #FCF7DD );
    border-radius: 50px;
    outline: rgba(137, 43, 226, 0);
}


.box{
    align-content: center;
    background: rgba(252, 247, 221, 0);
    color: rgb(252, 247, 221);
    font-family: Rakkas;
    Font-style: Regular;
    Font-size: 36px;
    Line-height: 54px;
    Line-height: 100%;
    border-color: rgba(255, 255, 255, 0);
    
}

.reg{
    Font-family: Raleway;
    Font-style: Medium;
    Font-size: 18px;
    Line-height: 21px;
    Line-height: 100%;
    text-align: center;
}

.but_reg{
    background:rgba(0,0,0,0);
    Font-family: Raleway;
    Font-style: Medium;
    Font-size: 18px;
    Line-height: 21px;
    Line-height: 100%;
    color: rgb(88, 19, 153);

}