<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
    <link rel="shortcut icon" href="./icon.png" type="image/png">

</head>
<body>
    <a href="./CreateForm.html">Подать заявку</a>

    <form action="" method="post">

    <p>
        <input type="submit" value="ltcf" name="cf">
    <a>Нрмальная кнопка</a> 
        </p>
    <p>
     <a href="./MyForms.html">Мои заявки</a>
 </p>
 <p>
     <a href="./AllForms.html">Чужие заявки</a>
    </p>
    <p>
     <a href="./AllUsers.html">Все пользователи</a>
    </p>
    <p>
     <a href="./MyAccount.html">Моя анкета</a>
 </p>
 <p>
    <input type="submit" value="log out" name="log out">
   </p>
 <a href="https://t.me/drakoncheg">Контакты разработчика</a>

 </form>

</body>
</html>