<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Подать заявку</title>
    <link rel="shortcut icon" href="/static/icon.png" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet"> 
</head>
<header style="background-color: 0F987F;width: 100%; position: sticky; margin: 0%;" >
    <h1 style=" text-align: right; margin: 0%;">

    <form action="" method="post" >
        <input type="button" src="/static/Main.logo.png" width="160" height="60" title="Главная страница" style="float: left;">

        <label>{{reqName}}</label>
        <input style="font-size: 20px; background-color: aquamarine;" type="submit" value="Log out" name="log out">
        <input formaction="/account_Me.html" type="button" src="/static/user.png" width="50" height="50" title="Аккаунт">
        <input formaction="/help.html" type="button" src="/static/question.png" width="50" height="50" title="Помощь">
    </form>
 
    </h1>
    

    </header>
<body style="margin: 0px;">
<div style="background-color: aquamarine;">
    <p>
        <label style="font-size: 30px;" class="sub" for="Subject">Создание заявки</label>
    </p>
    <form action="" method="post" >
<p>   
    <label  class="sub" for="Subject"></label>
    <input style="font-size: 25px; width: 30%;" placeholder="Предмет олимпиады" list="Subjects" name="OlympyadSubject"/>
    <datalist id="Subjects">
    <option value="Математика"></option>
    <option value="Русский язык"></option>
    <option value="Литература"></option>
    <option value="История"></option>
    <option value="Физическая культура"></option>
    <option value="Музыка"></option>
    <option value="Технология"></option>
    <option value="Химия"></option>
    <option value="Биология"></option>
    <option value="Физика"></option>
    <option value="Экология"></option>
    <option value="География"></option>
    <option value="Естествознание"></option>
    <option value="Астрономия"></option>
    <option value="Окружающий мир"></option>
    <option value="Обществознание"></option>
    <option value="Алгебра"></option>
    <option value="Геометрия"></option>
    <option value="Информатика"></option>
    <option value="ОБЖ"></option>
    <option value="МХК (искусство)"></option>
    <option value="Экономика"></option>
    <option value="Английский язык"></option>
    <option value="Немецкий язык"></option>
    <option value="Французский язык"></option>
    <option value="Испанский язык"></option>
    <option value="Итальянский язык"></option>
    <option value="Китайский язык"></option>
    <option value="Право"></option>
    </datalist>
    <input style="font-size: 25px; width: 60%;" placeholder="Заголовок" name = "Title" />
</p>   
<p>
    <textarea style="font-size: 25px; width: 90%; height: 50%; resize: none;" placeholder="Напишите здесь что-нибудь о себе, и то, что вам нужно от напарника" name = 'maintext'></textarea>
</p>


<input style="font-size: 25px; width: 30%;" placeholder="Ваш город" list="Towns" name = "Cities"/>
<datalist id="Towns">
    <option value="Москва"></option>
    <option value="Санкт-Петербург"></option>
    <option value="Новосибирск"></option>
    <option value="Екатеринбург"></option>
    <option value="Нижний Новгород"></option>
    <option value="Казань"></option>
    <option value="Челябинск"></option>
    <option value="Омск"></option>
    <option value="Самара"></option>
    <option value="Ростов-на-Дону"></option>
</datalist>



<input style="font-size: 25px; width: 40%;" placeholder="Название олимпиады" type="text" name="NameOlympiad">


<input style="font-size: 25px; width: 19.5%;" placeholder="Класс" list="Classes"  name = "Clas"/>
<datalist id="Classes">
<option value="1"></option>
<option value="2"></option>
<option value="3"></option>
<option value="4"></option>
<option value="5"></option>
<option value="6"></option>
<option value="7"></option>
<option value="8"></option>
<option value="9"></option>
<option value="10"></option>
<option value="11"></option>
<option value="Я закончил школу"></option>

</datalist>




<p>
    <label style="font-size: 20px;" for="AboutMe">Оставьте тут свои контакты, откликнувшийся человек сразу получит их</label>
    <input style="font-size: 20px; width: 30%;" placeholder="Контакты" type="text" name="Contacts">

</p>
<p>
    <label>*Далее необязательные поля</label>

</p>

    <label for="Личные встречи" style="font-size: 20px;" >Личные встречи</label>
    <input type="checkbox" value="Личные встречи">
    <label for="Онлайн встречи" style="font-size: 20px;">Онлайн встречи</label>
    <input type="checkbox" value="Онлайн встречи">

</p> 


<select style="font-size: 15px; width: 15%;" placeholder="Количество" list="Количество" name = "Team">
<option value="">Количество участников</option>
<option value="Команда из 2">Команда из 2</option>
<option value="Команда из 3">Команда из 3</option>
<option value="Команда из 4">Команда из 4</option>
<option value="Команда больше 4">Команда больше 4</option>
</select>

<select style="font-size: 15px; width: 15%;" placeholder="Возраст" list="Возраст" name = "Age">
<option value="">Желаемый возраст участника</option>
<option value="7-10 лет">7-10 лет</option>
<option value="10-14 лет">10-14 лет</option>
<option value="14-17 лет">14-17 лет</option>
<option value="18+ лет">18+ лет</option>
</select>

<select style="font-size: 15px; width: 15%;" placeholder="Деятельность" list="Деятельность" name = "Typee">
<option value="">Деятельность</option>
<option value="Крупный проект">Крупный проект</option>
<option value="Небольшой проект">Небольшой проект</option>
<option value="Разовое мероприятие">Разовое мероприятие</option>
<option value="Совместная подготовка">Совместная подготовка</option>
<option value="Длительная подготовка">Длительная подготовка</option>
</select>



<select style="font-size: 15px; width: 15%;" placeholder="Частота" list="Частота" name = "Time">

<option value="">Частота</option>
<option value="Меньше раза в неделю">Меньше раза в неделю</option>
<option value="1-2 раза в неделю">1-2 раза в неделю</option>
<option value="больше 2х раз в неделю">больше 2х раз в неделю</option>
</select>

<p style="background-color: white; padding-top: 20px;">
    <input type="submit" value="Отправить заявку" name="SaveForm" formaction="" style="background-color: aquamarine; font-size: 30px; margin: 10px;" name = "Create form">  
</p>



    </form>
</p>
</div>
</body>