<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
    <link rel="shortcut icon" href="./icon.png" type="image/png">

</head>
<header style="background-color: 0F987F;width: 100%; position: sticky; margin: 0%;" >
    <h1 style=" text-align: right; margin: 0%;">
    <a href="main_page.html"><img src="./Main.logo.png" width="160" height="60" title="Главная страница" style="float: left;"></a>
    <input type="submit" value="log out" name="log out" formaction="./login.html">
    <a href="./MyAccount.html"><img src="./user_icon.png" width="50" height="50" title="Аккаунт"></a>
    <a href=""><img src="./help_icon.png" width="50" height="50" title="Помощь"></a>
    <a href=""><img src="./options_icon.png" width="50" height="50" title="Настройки"></a>
    </h1>


    </header>
<body style="margin: 0px;">
<div>
    <label name="FormID">N4567</label>
    <label name="Subjec">Математика</label>
    <label name="Username">Вова Богданов</label>
    <label name="Added">3 дня назад</label>
</div>
<div>
    <h1>
        <label name="FormTitle">Ищу команду на IMO</label>
    </h1>
    <label name="MainText">Здравствуйте, я ищу команду для IMO. Мне 23, я - гений в линейной алгбере. К напарникам никаких особых пожеланий нет, но сам бы хотел сидеть целыми днями на попе и ничего не делать. Получил золотую медаль IMO в 2020, 2019 и 2017 годах, участвуя за команду китая. Полиглот, знаю 15 языков, в том числе русский, английский, китайский и моа - моа. Готов встречаться очно или дистанционно для решения задачек. Сам живу в Самаре, рядом тц “Рай на земле”. Также всегда м...</label>
</div>
<div name="TagBox1" style="background-color: rgb(226, 192, 43); width: 20%; overflow: hidden; text-align: center; float: left;">
    <label for="FormTag1">IMO</label>
</div>
<h2>
    <label name="FormCondition">Ещё никто не откликнулся на эту заявку</label>
    <input type="submit" value="report" name="report" formaction="">
    <input type="submit" value="respond" name="respond" formaction="">
</h2>
</body>