<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{Author}}</title>
    <link rel="shortcut icon" href="/static/icon.png" type="image/png">

</head>
<header style="background-color: 0F987F;width: 100%; position: sticky; margin: 0%;" >
    <h1 style=" text-align: right; margin: 0%;">
    <img src="/static/Main.logo.png" width="160" height="60" title="Главная страница" style="float: left;">
    <label>{{reqName}}</label>
    <input style="font-size: 20px; background-color: aquamarine;" type="submit" value="Log out" name="log out" formaction="./login.html">
    <img src="/static/user.png" width="50" height="50" title="Аккаунт">
    <img src="/static/question.png" width="50" height="50" title="Помощь">
    <img src="/static/settings.png" width="50" height="50" title="Настройки">
    </h1>
    

    </header>
<body style="margin: 0px;">
<div style="float: left; font-size: 20px;">
    <label name="FormID">{{FormNum}}</label>
    <label name="Subjec">{{Subject}}</label>
    <label name="Username">{{Author}}</label>
    <label name="Added">{{When}}</label>
</div>
<div style="background-color: aquamarine; height: 65%;">
    <h1 style="margin-top:30px;">
        <label style="font-size: 60px;" name="FormTitle">{{FormTitle}}</label>
    </h1>
    <p style="background-color: white; border-radius: 10px; height: 80%; margin: 15px;">
        <label name="MainText">{{MainText}}</label>

    </p>
</div>
<div name="TagBox1" style="background-color: rgb(226, 192, 43); width: 10%; overflow: hidden; text-align: center; float: left;">
    <label for="FormTag1">{{Tag1_1_1}}</label>
</div>

<div name="TagBox1" style="background-color: rgb(226, 192, 43); width: 10%; overflow: hidden; text-align: center; float: left;">
    <label for="FormTag1">{{Tag1_1_2}}</label>
</div>

<div name="TagBox1" style="background-color: rgb(226, 192, 43); width: 10%; overflow: hidden; text-align: center; float: left;">
    <label for="FormTag1">{{Tag1_1_3}}</label>
</div>

<div name="TagBox1" style="background-color: rgb(226, 192, 43); width: 10%; overflow: hidden; text-align: center; float: left;">
    <label for="FormTag1">{{Tag1_1_4}}</label>
</div>

<div name="TagBox1" style="background-color: rgb(226, 192, 43); width: 10%; overflow: hidden; text-align: center; float: left;">
    <label for="FormTag1">{{Tag1_1_5}}</label>
</div>

<div name="TagBox1" style="background-color: rgb(226, 192, 43); width: 10%; overflow: hidden; text-align: center; float: left;">
    <label for="FormTag1">{{Tag1_1_6}}</label>
</div>

<div name="TagBox1" style="background-color: rgb(226, 192, 43); width: 10%; overflow: hidden; text-align: center; float: left;">
    <label for="FormTag1">{{Tag1_1_7}}</label>
</div>

<div name="TagBox1" style="background-color: rgb(226, 192, 43); width: 10%; overflow: hidden; text-align: center; float: left;">
    <label for="FormTag1">{{Tag1_1_8}}</label>
</div>

<div name="TagBox1" style="background-color: rgb(226, 192, 43); width: 10%; overflow: hidden; text-align: center; float: left;">
    <label for="FormTag1">{{Tag1_1_9}}</label>
</div>

<div name="TagBox1" style="background-color: rgb(226, 192, 43); width: 10%; overflow: hidden; text-align: center; float: left;">
    <label for="FormTag1">{{Tag1_1_10}}</label>
</div>

<div name="TagBox1" style="background-color: rgb(226, 192, 43); width: 10%; overflow: hidden; text-align: center; float: left;">
    <label for="FormTag1">{{Tag1_1_11}}</label>
</div>

<div name="TagBox1" style="background-color: rgb(226, 192, 43); width: 10%; overflow: hidden; text-align: center; float: left;">
    <label for="FormTag1">{{Tag1_1_12}}</label>
</div>

<div name="TagBox1" style="background-color: rgb(226, 192, 43); width: 10%; overflow: hidden; text-align: center; float: left;">
    <label for="FormTag1">{{Tag1_1_13}}</label>
</div>

<div name="TagBox1" style="background-color: rgb(226, 192, 43); width: 10%; overflow: hidden; text-align: center; float: left;">
    <label for="FormTag1">{{Tag1_1_14}}</label>
</div>

<div name="TagBox1" style="background-color: rgb(226, 192, 43); width: 10%; overflow: hidden; text-align: center; float: left;">
    <label for="FormTag1">{{Tag1_1_15}}</label>
</div>

<div name="TagBox1" style="background-color: rgb(226, 192, 43); width: 10%; overflow: hidden; text-align: center; float: left;">
    <label for="FormTag1">{{Tag1_1_16}}</label>
</div>

<div name="TagBox1" style="background-color: rgb(226, 192, 43); width: 10%; overflow: hidden; text-align: center; float: left;">
    <label for="FormTag1">{{Tag1_1_17}}</label>
</div>

<div name="TagBox1" style="background-color: rgb(226, 192, 43); width: 10%; overflow: hidden; text-align: center; float: left;">
    <label for="FormTag1">{{Tag1_1_18}}</label>
</div>

<div name="TagBox1" style="background-color: rgb(226, 192, 43); width: 10%; overflow: hidden; text-align: center; float: left;">
    <label for="FormTag1">{{Tag1_1_19}}</label>
</div>

<div name="TagBox1" style="background-color: rgb(226, 192, 43); width: 10%; overflow: hidden; text-align: center; float: left;">
    <label for="FormTag1">{{Tag1_1_20}}</label>
</div>

<h2 style="padding-top: 10px;">
    <label style="font-size: 30px;" name="FormCondition">{{FormCondition}}</label>
    <input style="background-color: rgb(255, 83, 83); font-size: 30px;" type="submit" value="Report" name="report" formaction="">
    <input style="background-color: aquamarine; font-size: 30px;" type="submit" value="Respond" name="respond" formaction="">
</h2>
</body>