<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
    <link rel="shortcut icon" href="https://github.com/SHIR-kon-f10/copy-/blob/main/templates/icon.png?raw=true" type="image/png">
    <link rel="stylesheet" href="../static/accounts.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Raleway&display=swap" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rakkas&display=swap" rel="stylesheet"> 


</head>
<header style="background-color: 0F987F;width: 100%; position: sticky; margin: 0%;" >
    <h1 style=" text-align: right; margin: 0%;">

    <form action="" method="post" >
        <input type="button" src="/static/Main.logo.png" width="160" height="60" title="Главная страница" style="float: left;">

        <label>{{reqName}}</label>
        <input style="font-size: 20px; background-color: aquamarine;" type="submit" value="Log out" name="log out">
        <input formaction="/account_Me.html" type="button" src="/static/user.png" width="50" height="50" title="Аккаунт">
        <input formaction="/help.html" type="button" src="/static/question.png" width="50" height="50" title="Помощь">
    </form>
 
    </h1>
    </header>
    <body style="background-image: url(../static/9val.png);">
        <h1>Зачем нужен наш сайт?</h1>
        <label style="font-size: 25px;">Здесь вы можете найти напарника на любую олимпиаду, хакатон, или напарника для подготовки, решения задач и домашнего задания. Совместных проектов или любой другой интеллектуальной деятельности </label>
     
    <h1>Как пользоваться сайтом</h1>
    <label style="font-size: 25px;">Для начала поищите - нет ли того, что вам нужно среди выложенных заявок на главной странице. Можете откликнуться на нужные. Вы получите контакты автора, а он получит ваши.</label><br>
    <label style="font-size: 25px;">Если вы не смогли найти подходящий вариант - создайте свою заявку, и ждите пока кто-нибудь откликнется на неё</label><br>

    <input formaction="/homePage.html" type="button" src="/static/question.png" value="Ясно!" style="font-size: 25px; background-color: aquamarine; margin-top: 30px;">

    </body>