<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
    <link rel="shortcut icon" href="/static/icon.png" type="image/png">

</head>
<header style="background-color: 0F987F;width: 100%; position: sticky; margin: 0%;" >
    <h1 style=" text-align: right; margin: 0%;">
    <img src="/static/Main.logo.png" width="160" height="60" title="Главная страница" style="float: left;">
    <label>{{reqName}}</label>
    <input type="submit" value="log out" name="logout" formaction="./login.html">
    <img src="/static/user.png" width="32" height="32" title="Аккаунт">
    <img src="/static/question.png" width="32" height="32" title="Помощь">
    <img src="/static/settings.png" width="32" height="32" title="Настройки">
    </h1>
    <div  style="background-color: 36A490;width: 100%; text-align: center;">
        <input style="width: 30%;" placeholder="Поиск" type="text" name="SearchForms">
    </div>

    </header>
<body style="margin: 0px;">



    <div style="display: inline;">
        <Label>Математика</Label>
        <!--  <a href="" style="float: right;">more...</a>  -->
        <div>
            <div href="login.html" style="width: 30%; background-color:rgb(134, 187, 169); margin-right: 3.3%; float: left; display: block; color: rgb(0, 0, 0);">
                <label for="name">{{Author1_1}}</label>
                <label style="float: right; margin-left: 10px" for="when">{{When1_1}}</label>
                <label for="sub" style="float: right;">{{Subject1_1}}</label>
                <p style="margin: 10px;">
                    <a name="MainText">{{MainText1_1}}</a>
                </p>
                <div name="TagBox1" style="background-color: rgb(226, 192, 43); width: 20%; overflow: hidden; text-align: center; float: left;">
                    <label for="FormTag1">{{Tag1_1_1}}</label>
                </div>
                <div name="TagBox2" style="background-color: rgb(117, 131, 211); width: 20%; overflow: hidden; text-align: center; float: left;">
                    <label for="FormTag2">{{Tag1_1_2}}</label>
                </div>
                <div name="TagBox3" style="background-color: rgb(226, 43, 104); width: 20%; overflow: hidden; text-align: center;float: left;">
                    <label for="FormTag3">{{Tag1_1_3}}</label>
                </div>
                <div name="TagBox4" style="background-color: rgb(43, 226, 83); width: 20%; overflow: hidden; text-align: center;float: left;">
                    <label for="FormTag4">{{Tag1_1_4}}</label>
                </div>
                <div name="TagBox5" style="background-color: rgb(226, 226, 226); width: 20%; overflow: hidden; text-align: center;float: left;">
                    <label for="FormTag5">{{Tag1_1_5}}</label>
                </div>

            </div>
            </div>


            <div>
                <div href="login.html" style="width: 30%; background-color:rgb(134, 187, 169); margin-right: 3.3%; float: left; display: block; color: rgb(0, 0, 0);">
                    <label for="name">Вова Богданов</label>
                    <label style="float: right; margin-left: 10px" for="when">3 дня назад</label>
                    <label for="sub" style="float: right;">Математика</label>
                    <p style="margin: 10px;">
                        <a name="MainText">Здравствуйте, я ищу команду для IMO. Мне 23, я - гений в линейной алгбере. К напарникам никаких особых пожеланий нет, но сам бы хотел сидеть целыми днями на попе и ничего не делать. Получил золотую медаль IMO в 2020, 2019 и 2017 годах, участвуя за команду китая. Полиглот, знаю 15 языков, в том числе русский, английский, китайский и моа - моа. Готов встречаться очно или дистанционно для решения задачек. Сам живу в Самаре, рядом тц “Рай на земле”. Также всегда м...</a>
                    </p>
                    <div name="TagBox1" style="background-color: rgb(226, 192, 43); width: 20%; overflow: hidden; text-align: center; float: left;">
                        <label for="FormTag1">IMO</label>
                    </div>
                    <div name="TagBox2" style="background-color: rgb(117, 131, 211); width: 20%; overflow: hidden; text-align: center; float: left;">
                        <label for="FormTag2">Москва</label>
                    </div>
                    <div name="TagBox3" style="background-color: rgb(226, 43, 104); width: 20%; overflow: hidden; text-align: center;float: left;">
                        <label for="FormTag3">Из дома</label>
                    </div>
                    <div name="TagBox4" style="background-color: rgb(43, 226, 83); width: 20%; overflow: hidden; text-align: center;float: left;">
                        <label for="FormTag4">Раз в неделю</label>
                    </div>
                    <div name="TagBox5" style="background-color: rgb(226, 226, 226); width: 20%; overflow: hidden; text-align: center;float: left;">
                        <label for="FormTag5">15 лет</label>
                    </div>
    
                </div>
                </div>



                <div>
                    <div href="login.html" style="width: 30%; background-color:rgb(134, 187, 169); margin-right: 3.3%; float: left; display: block; color: rgb(0, 0, 0);">
                        <label for="name">Вова Богданов</label>
                        <label style="float: right; margin-left: 10px" for="when">3 дня назад</label>
                        <label for="sub" style="float: right;">Математика</label>
                        <p style="margin: 10px;">
                            <a name="MainText">Здравствуйте, я ищу команду для IMO. Мне 23, я - гений в линейной алгбере. К напарникам никаких особых пожеланий нет, но сам бы хотел сидеть целыми днями на попе и ничего не делать. Получил золотую медаль IMO в 2020, 2019 и 2017 годах, участвуя за команду китая. Полиглот, знаю 15 языков, в том числе русский, английский, китайский и моа - моа. Готов встречаться очно или дистанционно для решения задачек. Сам живу в Самаре, рядом тц “Рай на земле”. Также всегда м...</a>
                        </p>
                        <div name="TagBox1" style="background-color: rgb(226, 192, 43); width: 20%; overflow: hidden; text-align: center; float: left;">
                            <label for="FormTag1">IMO</label>
                        </div>
                        <div name="TagBox2" style="background-color: rgb(117, 131, 211); width: 20%; overflow: hidden; text-align: center; float: left;">
                            <label for="FormTag2">Москва</label>
                        </div>
                        <div name="TagBox3" style="background-color: rgb(226, 43, 104); width: 20%; overflow: hidden; text-align: center;float: left;">
                            <label for="FormTag3">Из дома</label>
                        </div>
                        <div name="TagBox4" style="background-color: rgb(43, 226, 83); width: 20%; overflow: hidden; text-align: center;float: left;">
                            <label for="FormTag4">Раз в неделю</label>
                        </div>
                        <div name="TagBox5" style="background-color: rgb(226, 226, 226); width: 20%; overflow: hidden; text-align: center;float: left;">
                            <label for="FormTag5">15 лет</label>
                        </div>
        
                    </div>
                    </div>

            
        </div>
        </div>
            
        
    </div>
    



    </div>
</body>