<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="shortcut icon" href="./icon.png" type="image/png">
    <link rel="stylesheet" href="/home/lev/Рабочий стол/hege/templates/registation.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Raleway&display=swap" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rakkas&display=swap" rel="stylesheet"> 
    
</head>
<body>
<div style="margin-top: 100px;">

    <h1 class="Reg_title">Registration</h1>
    <form action="" method="post"  style="position: relative; margin-top: 120px;">


        <p  style="position: absolute; border-bottom: 4px solid #FCF7DD; width: 30%; left: 35%; bottom: 140px;"> 
    <input class="box" placeholder="username or E-mail" type="email" name="username or E-mail">
    
    </p>
    <p style="position: absolute; border-bottom: 4px solid #FCF7DD; width: 30%; left: 35%; bottom: 215px;">
        <input class="box" placeholder="password" type="password" name="password">
    </p>

    <p  style="position: absolute; border-bottom: 4px solid #FCF7DD; width: 30%; left: 35%; bottom: 375px;"> 
        <input class="box" placeholder="Name" type="text" name="Name">
        
        </p>
        <p style="position: absolute; border-bottom: 4px solid #FCF7DD; width: 30%; left: 35%; bottom: 300px;">
            <input class="box" placeholder="Surname" type="text" name="Surname">
        </p>
    

    <div style="margin-top:  220px ;">
        <p style="text-align: center;">
            <input class="Sign" type="submit" value="Sign in" name="Sign in" formaction="./account.html">
        </p>
        <p class="log">
            <label for="registration">already have an account?</label> 
        </p>
        <p style="text-align: center; color:#FCF7DD;"> 
            <input class="but_log" type="submit" value="login" name="login" formaction="./login.html">
            
        </p>
    </div>
    </form>
</div>

</body>
</html>