<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="shortcut icon" href="/static/icon.png" type="image/png">
    <link rel="stylesheet" href="/static/registation.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Raleway&display=swap" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rakkas&display=swap" rel="stylesheet"> 
    <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
 
    ym(87704230, "init", {
         clickmap:true,
         trackLinks:true,
         accurateTrackBounce:true,
         webvisor:true
    });
 </script>
 <noscript><div><img src="https://mc.yandex.ru/watch/87704230" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
 <!-- /Yandex.Metrika counter -->
</head>
<body>
<div style="margin-top: 100px;">

    <h1 class="Reg_title">Registration</h1>
    <form action="" method="post"  style="position: relative; margin-top: 120px;">



    
    <p style="position: absolute; border-bottom: 4px solid #FCF7DD; width: 30%; left: 35%; bottom: 215px;">
        <input class="box" placeholder="Password" type="password" name="password">
    </p>

    <p  style="position: absolute; border-bottom: 4px solid #FCF7DD; width: 30%; left: 35%; bottom: 375px;"> 
        <input class="box" placeholder="Username or E-mail" type="text" name="Name">
        
        </p>
        <p style="position: absolute; border-bottom: 4px solid #FCF7DD; width: 30%; left: 35%; bottom: 300px;">
            <input class="box" placeholder="Name" type="text" name="Surname">
        </p>
    
    <div style="margin-top:  220px ;">
        <p style="text-align: center;">
            <input class="Sign" type="submit" value="Sign_up" name="Sign_up">
        </p>
        <p class="log">
            <label for="registration">already have an account?</label> 
        </p>
        <p style="text-align: center; color:#FCF7DD;"> 
            <input class="but_log" type="submit" value="login" name="login">
            
        </p>
    </div>
    </p>
    <p class = "exusrn">
        <label>{{exusern}}</label>
    </p>
    </form>
</div>

</body>
</html>
